<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Home page</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/opensans-font.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/line-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Jquery -->
	<link rel="stylesheet" type="text/css" href="https://jqueryvalidation.org/files/demo/site-demos.css">

	<!-- Main Style Css -->
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/mhilmiasyrofi/LibraryIdentificationFromVulnerability/master/Web/templates/css/style.css"/>
	

</head>

<body class="form-v4">
	<div class="page-content">
		<div class="form-v4-content">
			<div class="form-left">
				<h2>Library Identification from Vulnerabilities</h2>
				<p class="text-1">Software engineers depend heavily on software libraries and have to update their dependencies once vulnerabilities are found in them. A key challenge is the identification of libraries related to a given reported vulnerability in the National Vulnerability Database (NVD), which may not explicitly indicate the affected libraries. </p>
				<p class="text-2">In this work, we build a tool to predict a set of relevant libraries from NVD report.</p>
				<div class="form-left-last">
					<button onclick="location.href='https://github.com/soarsmu/Vulnerability_Report_Tool_Paper';" style="font-size:18px; padding:10px" class="account">GitHub Repo <i class="fa fa-github" style="font-size:24px"></i></button>
				</div>
			</div>
			<div class="form-right">
				<form class="form-detail" action="{% url 'predict_by_cve_id' %}">
				<h2>TRY OUR TOOL!</h2>
					<div class="form-row">
						<label>CVE ID</label>
						<input type="text" class="input-text" id="cve_id" name="cve_id">
					</div>
					<div class="form-row-last">
						<input type="submit" class="predict" value='Get Prediction by CVE ID'>
					</div>
				</form>
				<h3 style="margin-left: -40px;"><span>or</span></h3>
				<form class="form-detail" action="{% url 'predict' %}">
					<div class="form-row">
						<label>CVE Description Text</label>
						<input type="text" class="input-text" id="input_text" name="input_text" size="100">
					</div>
					<div class="form-row-last">
						<input type="submit" class="predict-description" value='Get Prediction by CVE Description'>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>

</html>
